
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, #f5f7fa, #c3cfe2);
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #2c3e50;
    margin-top: 30px;
    font-size: 2.5rem;
}

.centered-img {
    max-width: 800px;
    width: 100%;
    margin: 30px auto;
    display: block;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.slider {
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
}

.slider img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}


audio {
    margin: 30px auto;
    display: block;
}

video {
    width: 90%;
    max-width: 700px;
    margin: 30px auto;
    border-radius: 12px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    display: block;
}
